@model QuanLyNhanSu.Models.tblPhong

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headerh2">Thêm phòng/ban</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal px-md-4">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <a>Mã phòng</a>
            <div class="col-md-5 pb-2">
                @Html.EditorFor(model => model.MaPhong, new { htmlAttributes = new { @class = "form-control pb-1" } })
                @Html.ValidationMessageFor(model => model.MaPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pb-2">
            @Html.LabelFor(model => model.TenPhong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TenPhong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pb-2">
            @Html.LabelFor(model => model.TenTruongPhong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.TenTruongPhong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTruongPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group pb-2">
            @Html.LabelFor(model => model.DienThoaiPhong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.DienThoaiPhong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienThoaiPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Lưu lại" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div class="px-md-4">
    @Html.ActionLink("Back to List", "Index")
</div>
