@model QuanLyNhanSu.Models.tblUser

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="headerh2">Thay đổi mật khẩu</h2>
    <table class="m-auto">
        <tbody>
            <tr>
                <th>
                    <label for="">Mật khẩu hiện tại</label>
                </th>
                <td>
                    <input type="password" class="form-control" name="oldPassword" id="oldPassword"/>
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>@Html.Raw(ViewBag.Error)</td>
            </tr>
            <tr>
                <th>
                    <label for="">Mật khẩu Mới</label>
                </th>
                <td>
                    <input type="password" class="form-control" name="newPassword" id="newPassword" />
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td></td>
            </tr>
            <tr>
                <th>
                    <label for="">Nhập lại mật khẩu mới</label>
                </th>
                <td>
                    <input type="password" class="form-control" name="comfirmPassword" id="comfirmPassword" />
                </td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td>@Html.Raw(ViewBag.Error1)</td>
            </tr>
            <tr>
                <td>
                    <a href="#">Bạn quên mật khẩu?</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex  justify-content-around pt-4">
        <input type="submit" value="Lưu thay đổi" class="btn btn-success" />
        <a href="@Url.Action("ThongTinCaNhan", "LoginNhanVien")" class="btn btn-success ">Quay lại</a>
    </div>
    <div>@Session["MaNV"], @Session["TenNV"], @Session["UserName"]</div>






